{% extends 'students/layouts/base.html' %}
{% load static %}
{% block body %}
    <div class="container" >
            <h1> I am about us page </h1>
            <img src ="{% static 'students/images/img.jpg' %} " width="500" height="500"> </img>
<!--            <img width="500" height="500"-->
<!--                    src="https://cdn.shopify.com/s/files/1/1463/4010/t/2/assets/masonry-feature-1-image.jpg?v=6292719477897739107"></img>-->
    </div>


{% endblock %}

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>About us</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1> I am about us page </h1>-->
<!--</body>-->
<!--</html>-->