<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello Page </title>
</head>
<body>
    <h1> Hello World from my first django App </h1>
    <ol>
        <li>Osama</li>
        <li>Israa Mostafa</li>
        <li> Usama Shehab</li>
        <li> Somay</li>
        <li> Ingy</li>
        <li> Shrouk</li>
        <li> Mohamed Haithem</li>
        <li> Khaled</li>
        <li> Mohamed Abdelhamid </li>
        <li> Abdullah</li>
        <li> Ahmed Magdi</li>
        <li> Lubna</li>
        <li> Menna</li>
        <li> Israa</li>
        <li> Nouran</li>
        <li> Maram</li>
        <li> Radwa</li>
        <li> Ahmed Radwan</li>
        <li> Sarah Mohsen</li>
    </ol>
</body>
</html>