<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello Page </title>
 <link rel="stylesheet"
       href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/students/google">MyGoogle</a>
      <button class="navbar-toggler" type="button"
              data-toggle="collapse" data-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/students/home">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/students/liststudents">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/students/hellopage">Hello page</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
    <h1> Hello World from my first django App </h1>
    <ol>
        <li>Osama</li>
        <li>Israa Mostafa</li>
        <li> Usama Shehab</li>
        <li> Somay</li>
        <li> Ingy</li>
        <li> Shrouk</li>
        <li> Mohamed Haithem</li>
        <li> Khaled</li>
        <li> Mohamed Abdelhamid </li>
        <li> Abdullah</li>
        <li> Ahmed Magdi</li>
        <li> Lubna</li>
        <li> Menna</li>
        <li> Israa</li>
        <li> Nouran</li>
        <li> Maram</li>
        <li> Radwa</li>
        <li> Ahmed Radwan</li>
        <li> Sarah Mohsen</li>
    </ol>
    </div>
</body>
</html>